<div id="gameboard">
  <table class="">
    <tbody> 
      <tr class="row1" data="1">
        <td class="col1" data="1"></td>
        <td class="col2" data="2"></td>
        <td class="col3" data="3"></td>
      </tr>
      <tr class="row2" data="2">
        <td class="col1" data="1"></td>
        <td class="col2" data="2"></td>
        <td class="col3" data="3"></td>
      </tr>
      <tr class="row3" data="3">
        <td class="col1" data="1"></td>
        <td class="col2" data="2"></td>
        <td class="col3" data="3"></td>
      </tr>
    </tbody>
  </table>
</div>

<p id="coords"></p>
<p id="gamepiece"></p>