<h1>¡game!</h1>

<div id="gameboard">
  <table>
    <tbody> 
      <tr class="row1">
        <td class="col1"></td>
        <td class="col2"></td>
        <td class="col3"></td>
      </tr>
      <tr class="row2">
        <td class="col1"></td>
        <td class="col2"></td>
        <td class="col3"></td>
      </tr>
      <tr class="row3">
        <td class="col1"></td>
        <td class="col2"></td>
        <td class="col3"></td>
      </tr>
    </tbody>
  </table>
</div>