<h1>¡game!</h1>

<button id="makeNew">Start New Game</button>

{{#if isNewgame}}
  <p id="idText">You've started a new game with id: <span id="gameIdSpan"></span></p>
  {{else}}
    <p id="idText">Welcome to game with id: <span id="gameIdSpan"></span></p>
{{/if}}

<button id="test">Test Function</button>

<p>Player One: <span id="player-one"></span></p>
<p>Player Two: <span id="player-two"></span></p>

{{> gameboard}}

<button id="leaveGame">Leave Game (and delete)</button>
<button id="playAgain">Play Again</button>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

<script src="../js/game.js"></script>