<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="card mt-3">
        <div class="card-body">
          <h2 class="card-title">Welcome. Hi!</h2>
          <h4 class="card-subtitle text-muted mb-2">We're glad you found us</h4>
          <p class="card-text">Make an account or sign in to start playing tic-tac-toe with a friend</p>
        </div>
      </div>
    </div>
  </div>
</div>