<div class="container">
  <div class="row">
    <div class="col-md mt-3">
      <div class="card">
        <h3 class="card-header">Signup</h3>
        <div class="card-body">
          <form id="signup" method="POST">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input id="username" class="form-control username" name="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" class="password form-control" id="password">
            </div>
            <button type="submit" class="submit btn btn-primary">Signup</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md mt-3">
      <div class="card">
        <h3 class="card-header">Login</h3>
        <div class="card-body">
          <form id="login" method="POST">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input id="username" class="form-control username" name="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" class="password form-control" id="password">
            </div>
            <button type="submit" class="submit btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <h3 id="info"></h3>
</div>


<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

<script>
  $(document).ready(() => {

    $('#login .submit').on('click', function () {
      event.preventDefault();
      $('#info').empty();

      const data = {
        username: $("#login .username").val(),
        password: $("#login .password").val()
      }

      fetch('/api/user/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
        .then(response => response.json())
        .then(response => {
          console.log(response);
          if (response == "Incorrect username or password") {
            $('#info').text("Incorrect username or password")
          } else if (response.userData) {
            location.replace('/');
          }
        })
    })

    $('#signup .submit').on('click', function() {
      event.preventDefault();
      $('#info').empty();

      const data = {
        username: $('#signup .username').val(),
        password: $('#signup .password').val()
      }

      fetch('/api/user/signup', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(response => {
        console.log(response);
        if (response.name == "SequelizeUniqueConstraintError") {
          $('#info').text("That username is taken")
        }
      })
      .catch(err => {
        console.log(err);
      })
    })





  })
</script>