body {
  background: #aaa;
}

#gameboard {
  background: #777;
  width: 300px;
}

#gameboard table {
  margin: 0 auto;
}

#gameboard tr {
  height: 100px;
}

#gameboard td {
  width: 100px;
}

.row2 td {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

td.col2 {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

